body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #3b82f6, #9333ea);
}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 320px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  text-align: center;
}

.login-card h2 {
  margin-bottom: 20px;
}

.login-card input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.login-card button {
  width: 100%;
  padding: 10px;
  background: #3b82f6;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.login-card button:hover {
  background: #2563eb;
}

.login-card button:disabled {
  background: #94a3b8;
}

.error {
    padding-bottom: 10px;
  color: red;
  font-size: 14px;
}