* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  height: 70px;
  background: #111827;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Logo */
.logo {
  font-size: 28px;
  font-weight: bold;
}

/* Nav Links */
.nav-links {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 17px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #60a5fa;
}

/* Right Side */
.navbar-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Buttons */
.cart-btn1,
.login-btn,
.register-btn {
  width: 100px;
  height: 45px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
}

.cart-btn1 {
  background: #ffd814;
}

.login-btn {
  background: white;
}

.register-btn {
  background: #22c55e;
}

.login-btn a,
.register-btn a {
  text-decoration: none;
  color: black;
}

/* Hamburger */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 28px;
  height: 3px;
  background: white;
  border-radius: 5px;
}

/* Mobile Buttons */
.mobile-buttons {
  display: none;
}

/* Responsive */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .desktop-buttons {
    display: none;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: #111827;
    flex-direction: column;
    padding: 20px 0;
    transition: 0.3s;
  }

  .nav-links.active {
    left: 0;
  }

  .mobile-buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 20px;
  }

  .cart-btn1,
  .login-btn,
  .register-btn {
    width: 200px;
  }
}

.cart-btn1 a{
  text-decoration: none;
}